<?php
/** @var \Shirtplatform\Collection\Block\Product\Gallery\Reload $block */
?>
<?php $product = $block->getProduct(); ?>
<?php if ($product->getShirtplatformId() && $block->isCollectionProduct()): ?>

	<script type="text/javascript">
		require(['jquery'], function ($) {
			$(document).ready(function () {
				var gallery = $('[data-gallery-role="gallery-placeholder"]');
				gallery.on('gallery:loaded', function () {
				    var typeDelay;
					$('.product-options-wrapper input[type="text"]').keydown(function () {
						if(typeDelay) {
							clearTimeout(typeDelay);
						}
						typeDelay = setTimeout(refreshImages, 500);
					});

					var refreshImages = function () {
                        var assignedColorId = getAssignedColorId();
                        if(!assignedColorId) {
                            return false;
                        }

						var imageUrls = <?php echo $block->getImageUrls() ?>;
						var api = gallery.data('gallery');
						var params = buildEditableParams();

                        var newImages = [];
                        for(var index in imageUrls) {
                            var image = {};
                            image.full = image.img = image.thumb = imageUrls[index] + params + '?assignedColorId=' + assignedColorId + '&width=<?= $escaper->escapeHtml($block->getImageWidth())?>&height=<?= $escaper->escapeHtml($block->getImageHeight())?>&type=PNG';
                            newImages.push(image);
                        }
                        api.updateData(newImages);
					};

					var buildEditableParams = function () {
						var template = '<?php /* @escapeNotVerified */ echo $block->getEditableParams() ?>';
						$('.product-options-wrapper input[type="text"]').each(function () {
							var placeholder = $(this).attr('id');
							var value = $(this).val();
							template = template.replace('{{' + placeholder + '}}', value);
						});
						return template;
					};

					var getAssignedColorId = function () {
						<?php if($block->getProduct()->getTypeId() == \Magento\ConfigurableProduct\Model\Product\Type\Configurable::TYPE_CODE): ?>						
                        var simpleAssingedColorIds = <?php /* @escapeNotVerified */ echo $block->getConfigurableColors(); ?>;
                        var currentSimpleProductId = getCurrentSimpleProductId();
                        if(!currentSimpleProductId) {
                            return false;
                        }
                        return simpleAssingedColorIds[currentSimpleProductId];
						<?php endif; ?>
						return '<?php echo $escaper->escapeJs($block->getProduct()->getShirtplatformColorId()) ?>';
					};

					var getCurrentSimpleProductId = function()
                    {
                        var colorSelector = $('.swatch-attribute[data-attribute-code="color"]:eq(0)');
                        var sizeSelector = $('.swatch-attribute[data-attribute-code="size"]:eq(0)');
                        var attrColorId = parseInt(colorSelector.attr('data-attribute-id'));
                        var attrSizeId = parseInt(sizeSelector.attr('data-attribute-id'));
                        var selectedColorId = colorSelector.attr('data-option-selected');
                        var selectedSizeId = sizeSelector.attr('data-option-selected');

                        if(typeof selectedColorId === 'undefined') {
                            colorSelector.find('.swatch-option:eq(0)').trigger('click');
                            selectedColorId = colorSelector.attr('data-option-selected');
                            return false;
                        }

                        if(typeof selectedSizeId === 'undefined') {
                            var sizeSel = sizeSelector.find('.swatch-select:eq(0)');
                            sizeSel.val(sizeSel.find('option:eq(1)').attr('value')).trigger('change');
                            selectedSizeId = sizeSelector.attr('data-option-selected');
                            return false;
                        }

                        var idIndex = jQuery('[data-role=swatch-options]:eq(0)').data('mage-SwatchRenderer').options.jsonConfig.index;
                        for(var simpleProductId in idIndex) {
                            var obj = idIndex[simpleProductId];
                            if(obj[attrColorId] === selectedColorId && obj[attrSizeId] === selectedSizeId) {
                                return simpleProductId;
                            }
                        }
                        return null;
                    };


					var compareAttributeValues = function(a, b) {
                        for(var key in a) {
                            if(b[key] !== a[key]) {
                                return false;
                            }
                        }
                        return true;
                    };

					var getAttributeObj = function() {
					    return {
					          'color': $('.swatch-attribute[data-attribute-code="color"]:eq(0)').attr('data-option-selected'),
                              'size': $('.swatch-attribute[data-attribute-code="size"]:eq(0)').attr('data-option-selected')
                        };
                    };

					var oldAttributeValues = getAttributeObj();
					var simpleProductChange = function() {
					    setInterval(function() {
					        var currentAttributeValues = getAttributeObj();
                            if(!compareAttributeValues(currentAttributeValues, oldAttributeValues)) {
                                oldAttributeValues = currentAttributeValues;
                                refreshImages();
                            }
                        }, 300);
                    };
                    simpleProductChange();

                    (function selectFirstCombination()
                    {
                        var colorSelector = $('.swatch-attribute[data-attribute-code="color"]:eq(0)');
                        colorSelector.find('.swatch-option:eq(0)').trigger('click');
                    })();
				});
			});
		});

	</script>
    <style type="text/css">
        .fotorama__nav-wrap .fotorama_vertical_ratio .fotorama__img {
            width: auto;
            height: 100%;
            left: 0;
            right: 0;
            bottom: auto;
            margin: auto;
        }
    </style>
<?php endif; ?>
